@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
  background-color: #2F2F2F;
  font-family: Arial, Helvetica, sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.myButton {
  position: relative;
  border-radius: 38px;
  color: white;
  background: linear-gradient(0deg, #272727, #272727);
}

.myButton:before, .myButton:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, 
    #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 1000%;
  width: calc(100% + 4px);
  border-radius: 38px;
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400% 0;
  }
}

.myButton:after {
  filter: blur(50px);
}

.gradient-text-hover {
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.3s ease;
}

.gradient-text-hover:hover {
  color: transparent !important;
  background: linear-gradient(45deg, 
    #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: steam 20s linear infinite;
  transition: color 0.3s ease;
}